:root {
    --primary-color:#0a7bec;
    --secondary-color: #f59f00;
    --background-color: #f5f5f5;
    --navbar-bg:#0a7bec;
    --text-color: #ffffff;
}

/* Navbar */
.navbar {
    background-color: var(--navbar-bg) !important;
    font-weight: bold;
}

/* Button example */
.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

body {
    background-color: var(--background-color);
    color: #333;
}

h5 {
    color: var(--text-color);
    font-weight: bold;
}

.card-header {
    background-color: var(--primary-color);
    color: var(--text-color);
    h4 {
        font-weight: bold;
    }
}

